<div class="global__mortgageCalculator__page">
  <section class="illustration__section-container">
    <img src="../../assets/images/undraw_Calculator_0evy.svg" alt="illustration" aria-hidden="true">
  </section>

  <section class="mortgageCalculator__form__section-container">
    <div class="mortgageCalculator__form-wrapper">
      <h1 class="global__header1">Mortgage Payment Calculator</h1>
      <p class="mortgageCalculator__form-text">Quickly See What Your Mortgage Payments Might Look Like</p>

      <div class="form__container" novalidate>
        <form [formGroup]="formGroup" (ngSubmit)="onCalculate()" class="form">

          <!-- Mortgage Amount -->
          <mat-form-field appearance="fill" class="form-element mortgage-amount">
            <mat-label>Mortgage Amount</mat-label>
            <span matPrefix>$&nbsp;</span>
            <input matInput formControlName="mortgageAmount" required type="number">
            <mat-error *ngIf="!formGroup.controls['mortgageAmount'].valid && formGroup.controls['mortgageAmount'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <!-- Amortization Periodyears -->
          <mat-form-field appearance="fill" class="form-element amortization-periodyears-element">
            <mat-label>Amortization Periodyears</mat-label>
            <mat-select formControlName="amortizationPeriod">
              <mat-option *ngFor="let amortizationPeriod of amortizationPeriods" [value]="amortizationPeriod.value">
                {{ amortizationPeriod.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Payment Frequency -->
          <mat-form-field appearance="fill" class="form-element payment-frequency-element">
            <mat-label>Payment Frequency</mat-label>
            <mat-select formControlName="paymentFrequency">
              <mat-option *ngFor="let paymentFrequency of paymentFrequencies" [value]="paymentFrequency.value">
                {{ paymentFrequency.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Interest Rate: -->
          <mat-form-field appearance="fill" class="form-element interest-rate-element">
            <mat-label>Interest Rate</mat-label>
            <span matPrefix>%&nbsp;</span>
            <input matInput formControlName="interestRate" required>
            <mat-error *ngIf="!formGroup.controls['interestRate'].valid && formGroup.controls['interestRate'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <!-- Calculate button -->
          <div class="form-element calculate-button-element">
            <button mat-raised-button  type="submit" class="button global__button" [ngClass] = " formGroup.valid ? 'enable-button' : 'disable-button' " [disabled]="!formGroup.valid">Calculate</button>
          </div>

        </form>
      </div>

    </div>
  </section>
</div>

