/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "../src/assets/sass/configs/colors";

.result-dialog-modal-overlay{
  width: clamp(300px, 70%, 800px);

  .mat-dialog-container {
    padding: 0;
    border-radius: 8px;
  }
}

.logo_section{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

:root {
  font-family: 'Averta', Helvetica, sans-serif !important;
}

body, #root {
  height: 100vh;
  font-family: 'Averta', Helvetica, sans-serif !important;
  background: transparent url(./assets/images/background-pattern.svg) right repeat;
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 900;
  src: local('Averta Bold'), url(./assets/fonts/Averta-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 900;
  src: local('Averta Bold Italic'), url(./assets/fonts/Averta-BoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  src: local('Averta Light'), url(./assets/fonts/Averta-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 400;
  src: local('Averta Light Italic'), url(./assets/fonts/Averta-LightItalic.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 500;
  src: local('Averta Regular'), url(./assets/fonts/Averta-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 500;
  src: local('Averta Regular Italic'), url(./assets/fonts/Averta-RegularItalic.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 600;
  src: local('Averta Semibold'), url(./assets/fonts/Averta-Semibold.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 600;
  src: local('Averta Semibold Italic'), url(./assets/fonts/Averta-SemiboldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 300;
  src: local('Averta Thin'), url(./assets/fonts/Averta-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Averta';
  font-style: italic;
  font-weight: 300;
  src: local('Averta Thin Italic'), url(./assets/fonts/Averta-ThinItalic.otf) format('opentype');
}
